
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.822);
    color: rgb(24, 23, 23);
    margin: 0;
    padding: 20px;
}


.container {
    padding: 16px 36px;
    min-height: 80vh;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 1%;
    background: #0e0d0d1f;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
h1 {
    text-shadow: 2px 2px 20px #adc6dd;
}

a {
    background: #fff;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(6, 12, 32);
}
a:hover {
    background: rgb(31, 132, 163);
    color: #efefef;
    padding: 7px;
    margin: 2px;
}

.socials {
    font-size: 2em;
}
.socials > * {
    border: #295f79 solid 2px;
}